.container {
  margin: 100px auto;
  text-align: center;
  width: 390px;
  height: 844px;
  background: linear-gradient(to bottom, #ede969, #f0ec69);
  overflow: auto;
  box-shadow: 0.1px 0.3px 6.1px rgba(207, 223, 41, 0.018),
    0.3px 0.6px 14.1px rgba(0, 0, 0, 0.026),
    0.6px 1.2px 25.3px rgba(0, 0, 0, 0.032),
    1px 1.9px 42.1px rgba(0, 0, 0, 0.038),
    1.6px 3.2px 69.3px rgba(0, 0, 0, 0.044),
    2.8px 5.5px 121.1px rgba(0, 0, 0, 0.052), 6px 12px 262px rgba(0, 0, 0, 0.07);
}

.map {
  margin: 0 auto;
  width: 390px;
  height: 300px;
}

.findRouteLink {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.infowindow {
  width: 180px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  overflow-y: scroll;
}

.infowindow h3 {
  font-size: 13px;
  margin: 0;
  margin-bottom: 5px;
}

.infowindow p {
  font-size: 10px;
  margin: 0;
}

.infowindow a {
  font-size: 9px;
  margin: 0;
}

.cafelists {
  color: #000;
  z-index: 1000;
  max-height: 300px;
  cursor: pointer;
  overflow-y: scroll;
}

.cafelists a {
  text-decoration: none;
  color: #000;
}

.favoritelist {
  height: 300px;
  overflow-y: scroll;
}
